<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Brother</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
            margin: 0;
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 2em;
            margin-bottom: 20px;
            margin-top: 70px;
        }

        form {
            background-color: #fff;
            max-width: 600px;
            margin: auto;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        label {
            font-weight: bold;
            margin-bottom: 8px;
            display: block;
        }

        input[type="text"],
        input[type="date"],
        textarea {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
        }

        input[type="text"]:focus,
        input[type="date"]:focus,
        textarea:focus {
            outline: none;
            border-color: #4CAF50;
            box-shadow: 0 0 5px #4CAF50;
        }

      .buton  button {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1em;
            margin-top: 10px;
        }

        .button button:hover {
            background-color: #45a049;
        }

        .leader,
        .member {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        .member label {
            font-weight: bold;
            margin-bottom: 8px;
            display: block;
        }

        .member textarea {
            width: 90%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
        }

        .member input[type="text"]:focus,
        .member input[type="date"]:focus,
        .member textarea:focus {
            outline: none;
            border-color: #4CAF50;
            box-shadow: 0 0 5px #4CAF50;
        }

        .success-message {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            border-radius: 4px;
        }

        .success-message button {
            width: 30px;
            margin-top: -2px;
        }

        .checkbox-group {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }

        .checkbox-group label {
            margin-right: 10px;
        }

        .checkbox-group .check-item {
            display: flex;
            align-items: center;
            margin-right: 15px;
        }

        .checkbox-group input[type="checkbox"] {
            margin-right: 5px;
        }

        @media screen and (max-width: 767px) {
            h1 {
                font-size: 1.5em;
                margin-top: 20px;
            }

            label {
                font-size: 12px;
            }

            .container {
                margin-top: 50px;
            }

          .button  button {
                width: 100%;
                font-size: 13px;
            }

            .button {
                display: flex;
                flex-direction: column;
            }

            .remove {
                display: flex;
                justify-content: center;
            }

            .remove button {
                width: 50px;
            }
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar') %>
 <div class="container">
       

   <h1>ပြင်ဆင်ရန်</h1>
   
   <form action="/api/brothers/home/<%= brother.id %>?_method=PATCH" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<%= brother.id %>">
       <label for="name">Name:</label>
       <input type="text" id="name" name="name" required value="<%= brother.name %>">
       
       <label for="ch_name">ဆေးကြောခြင်းအမည်:</label>
       <input type="text" id="ch_name" name="ch_name" required value="<%= brother.ch_name %>">
       
       <label for="birthdate">Birthdate:</label>
       <input type="date" id="birthdate" name="birthdate" required value="<%= brother.birthdate.toISOString().substring(0, 10) %>">
       
       <label for="ethnicity">လူမျိုး:</label>
       <input type="text" id="ethnicity" name="ethnicity" required value="<%= brother.ethnicity %>">
       
       <label for="res_lead">ဦးစီးနှင့်တော်စပ်ပုံ:</label>
       <input type="text" id="res_lead" name="res_lead" required value="<%= brother.res_lead %>">

       <div class="checkbox-group">
           <label for="baptism">ဆေးကြောခြင်း:</label>
           <input type="checkbox" id="baptism_yes" name="baptism" value="ရှိ" <%= brother.baptism === 'ရှိ' ? 'checked' : '' %> >
           <label for="baptism_yes"> ရှိ</label>
           
           <input type="checkbox" id="baptism_no" name="baptism" value="မရှိ" <%= brother.baptism === 'မရှိ' ? 'checked' : '' %> >
           <label for="baptism_no"> မရှိ</label>
       </div>

       <div class="checkbox-group">
           <label for="first_com">ပထမကိုယ်တော်မြတ်:</label>
           <input type="checkbox" id="first_com_yes" name="first_com" value="ရှိ"  <%= brother.first_com === 'ရှိ' ? 'checked' : '' %>>
           <label for="first_com_yes"> ရှိ</label>
           <input type="checkbox" id="first_com_no" name="first_com" value="မရှိ"  <%= brother.first_com === 'မရှိ' ? 'checked' : '' %> >
           <label for="first_com_no"> မရှိ</label>
       </div>

       <div class="checkbox-group">
           <label for="second_com">ခရစ္စမားအားပေးခြင်း:</label>
           <input type="checkbox" id="second_com_yes" name="second_com" value="ရှိ" <%= brother.second_com === 'ရှိ' ? 'checked' : '' %> >
           <label for="second_com_yes"> ရှိ</label>
           <input type="checkbox" id="second_com_no" name="second_com" value="မရှိ" <%= brother.second_com === 'မရှိ' ? 'checked' : '' %> >
           <label for="second_com_no"> မရှိ</label>
       </div>
       <div class="checkbox-group"> 
        <label for="gender"> Gender</label>
        <div class="check-item">
            <input type="checkbox" id="gender" name="gender" value="အမျိုးသား" <%= brother.gender === 'အမျိုးသား' ? 'checked' : '' %> >
        <label for="gender"> Male</label>
        <input type="checkbox" id="gender" name="gender" value="အမျိုးသမီး" <%= brother.gender === 'အမျိုးသမီး' ? 'checked' : ''  %>>
        <label for="gender"> Female</label>
        </div>
        
        
    </div>

       <label for="marriage">လက်ထပ်ထိန်းမြားခြင်း:</label>
       <input type="text" id="marriage" name="marriage" required value="<%= brother.marriage %>">
       
       <label for="address">နေရပ်လိပ်စာ/ဖုန်းနံပတ်:</label>
       <textarea id="address" name="address" rows="4" cols="40" required value="<%= brother.address %>"><%= brother.address %></textarea>
       
       <input type="file" name="family_image" accept="image/*"  >
       <% if (brother.family_image) { %>
        <p>Current Image: <%= brother.family_image %></p>
    <% } %>
       
       <!-- Members array -->
       <h2>Members</h2>
       <div id="members">
        
        <% brother.members.forEach((member, index) => { %>
            <div class="member">
                <input type="hidden" name="members[<%= index %>][id]" value="<%= member.id %>">
                
                <label for="member_name_<%= index %>">အမည်:</label>
                <input type="text" id="member_name_<%= index %>" name="members[<%= index %>][name]" required value="<%= member.name %>">
                
                <label for="member_ch_name_<%= index %>">ဆေးကြောခြင်းအမည်:</label>
                <input type="text" id="member_ch_name_<%= index %>" name="members[<%= index %>][ch_name]" required value="<%= member.ch_name %>">
                
                <label for="member_birthdate_<%= index %>">မွေးသက္ကရာဇ်:</label>
                <input type="date" id="member_birthdate_<%= index %>" name="members[<%= index %>][birthdate]" required value="<%= member.birthdate.toISOString().substring(0, 10) %>">
                
                <label for="member_ethnicity_<%= index %>">လူမျိုး:</label>
                <input type="text" id="member_ethnicity_<%= index %>" name="members[<%= index %>][ethnicity]" required value="<%= member.ethnicity %>">
                
                <label for="member_res_lead_<%= index %>">ဦးစီးနှင့်တော်စပ်ပုံ:</label>
                <input type="text" id="member_res_lead_<%= index %>" name="members[<%= index %>][res_lead]" required value="<%= member.res_lead %>">
                
                <div class="checkbox-group">
                    <label for="member_baptism_<%= index %>">ဆေးကြောခြင်း:</label>
                    <input type="checkbox" id="member_baptism_yes_<%= index %>" name="members[<%= index %>][baptism]" value="ရှိ" <%= member.baptism === 'ရှိ' ? 'checked' : '' %>>
                    <label for="member_baptism_yes_<%= index %>"> ရှိ</label>
                    <input type="checkbox" id="member_baptism_no_<%= index %>" name="members[<%= index %>][baptism]" value="မရှိ" <%= member.baptism === 'မရှိ' ? 'checked' : '' %>>
                    <label for="member_baptism_no_<%= index %>"> မရှိ</label>
                </div>
                
                <div class="checkbox-group">
                    <label for="member_first_com_<%= index %>">ပထမကိုယ်တော်မြတ်:</label>
                    <input type="checkbox" id="member_first_com_yes_<%= index %>" name="members[<%= index %>][first_com]" value="ရှိ" <%= member.first_com === 'ရှိ' ? 'checked' : '' %>>
                    <label for="member_first_com_yes_<%= index %>"> ရှိ</label>
                    <input type="checkbox" id="member_first_com_no_<%= index %>" name="members[<%= index %>][first_com]" value="မရှိ" <%= member.first_com === 'မရှိ' ? 'checked' : '' %>>
                    <label for="member_first_com_no_<%= index %>"> မရှိ</label>
                </div>
                
                <div class="checkbox-group">
                    <label for="member_second_com_<%= index %>">ခရစ္စမားအားပေးခြင်း:</label>
                    <input type="checkbox" id="member_second_com_yes_<%= index %>" name="members[<%= index %>][second_com]" value="ရှိ" <%= member.second_com === 'ရှိ' ? 'checked' : '' %>>
                    <label for="member_second_com_yes_<%= index %>"> ရှိ</label>
                    <input type="checkbox" id="member_second_com_no_<%= index %>" name="members[<%= index %>][second_com]" value="မရှိ" <%= member.second_com === 'မရှိ' ? 'checked' : '' %>>
                    <label for="member_second_com_no_<%= index %>"> မရှိ</label>
                </div>
                <div class="checkbox-group"> 
                    <label for="gender<%= index %>"> Gender</label>
                    <div class="check-item">
                        <input type="checkbox" id="gender" name="members[<%= index %>][gender]" value="အမျိုးသား" <%= member.gender  === 'အမျိုးသား' ? 'checked' : '' %> >
                    <label for="gender<%= index %>"> Male</label>
                    <input type="checkbox" id="gender" name="members[<%= index %>][gender]" value="အမျိုးသမီး"  <%= member.gender  === 'အမျိုးသမီး' ? 'checked' : '' %>>
                    <label for="gender<%= index %>"> Female</label>
                    </div>
                    
                    
                </div>
                <label for="member_marriage_<%= index %>">လက်ထပ်ထိန်းမြားခြင်း:</label>
                <input type="text" id="member_marriage_<%= index %>" name="members[<%= index %>][marriage]" required value="<%= member.marriage %>">
                
                <label for="member_address_<%= index %>">နေရပ်လိပ်စာ/ဖုန်းနံပတ်:</label>
                <textarea id="member_address_<%= index %>" name="members[<%= index %>][address]" rows="4" cols="40" required><%= member.address %></textarea>
             
            </div>
        <% }); %>
       </div>
      
       
      <div class="button">
        <button type="button" onclick="addMember()">မိသာစုဝင်များကိုထည့်သွင်းပါ</button>
       
        <button type="submit">Submit (တင်သွင်းပါ)</button>
      </div>
   </form>
 </div>

    <script>
        function removeTag(){
            const list = document.getElementById("members");
         list.removeChild(list.lastElementChild);
        }
        let memberId = <%= brother.members.length -1 %>;

        function addMember() {
            memberId++;
            const div = document.createElement('div');
            div.classList.add('member');
            div.innerHTML = `
            <div class = "remove">   <button type="button" onclick="removeTag()"><i class="fa-solid fa-x"></i></button></div>
             <input type="hidden" name="members[${memberId}][id]" value="${memberId}">
                <label for="member_name_${memberId}">အမည်:</label>
                <input type="text" id="member_name_${memberId}" name="members[${memberId}][name]" required>
                
                <label for="member_ch_name_${memberId}">ဆေးကြောခြင်းအမည်:</label>
                <input type="text" id="member_ch_name_${memberId}" name="members[${memberId}][ch_name]" required>
                
                <label for="member_birthdate_${memberId}">မွေးသက္ကရာဇ်:</label>
                <input type="date" id="member_birthdate_${memberId}" name="members[${memberId}][birthdate]" required>
                
                <label for="member_ethnicity_${memberId}">လူမျိုး:</label>
                <input type="text" id="member_ethnicity_${memberId}" name="members[${memberId}][ethnicity]" required>
                
                <label for="member_res_lead_${memberId}">ဦးစီးနှင့်တော်စပ်ပုံ:</label>
                <input type="text" id="member_res_lead_${memberId}" name="members[${memberId}][res_lead]" required>
                
                <div class="checkbox-group">
                    <label for="member_baptism_${memberId}">ဆေးကြောခြင်း:</label>
                    <input type="checkbox" id="member_baptism_yes_${memberId}" name="members[${memberId}][baptism]" value="ရှိ" >
                    <label for="member_baptism_yes_${memberId}"> ရှိ</label>
                    <input type="checkbox" id="member_baptism_no_${memberId}" name="members[${memberId}][baptism]" value="မရှိ" >
                    <label for="member_baptism_no_${memberId}"> မရှိ</label>
                </div>
                
                <div class="checkbox-group">
                    <label for="member_first_com_${memberId}">ပထမကိုယ်တော်မြတ်:</label>
                    <input type="checkbox" id="member_first_com_yes_${memberId}" name="members[${memberId}][first_com]" value="ရှိ" >
                    <label for="member_first_com_yes_${memberId}"> ရှိ</label>
                    <input type="checkbox" id="member_first_com_no_${memberId}" name="members[${memberId}][first_com]" value="မရှိ" >
                    <label for="member_first_com_no_${memberId}"> မရှိ</label>
                </div>
                
                <div class="checkbox-group">
                    <label for="member_second_com_${memberId}">ခရစ္စမားအားပေးခြင်း:</label>
                    <input type="checkbox" id="member_second_com_yes_${memberId}" name="members[${memberId}][second_com]" value="ရှိ" >
                    <label for="member_second_com_yes_${memberId}"> ရှိ</label>
                    <input type="checkbox" id="member_second_com_no_${memberId}" name="members[${memberId}][second_com]" value="မရှိ" >
                    <label for="member_second_com_no_${memberId}"> မရှိ</label>
                </div>
                    <div class="checkbox-group"> 
                    <label for="gender${memberId}> Gender</label>
                    <div class="check-item">
                        <input type="checkbox" id="gender" name="members[${memberId}][gender]" value="အမျိုးသား" >
                    <label for="gender${memberId}"> Male</label>
                    <input type="checkbox" id="gender" name="members[${memberId}][gender]" value="အမျိုးသမီး" >
                    <label for="gender${memberId}"> Female</label>
                    </div>
                    
                <label for="member_marriage_${memberId}">လက်ထပ်ထိန်းမြားခြင်း:</label>
                <input type="text" id="member_marriage_${memberId}" name="members[${memberId}][marriage]" required>
                
                <label for="member_address_${memberId}">နေရပ်လိပ်စာ/ဖုန်းနံပတ်:</label>
                <textarea id="member_address_${memberId}" name="members[${memberId}][address]" rows="4" cols="40" required></textarea>
            `;
            document.getElementById('members').appendChild(div);
        }
    </script>
</body>
</html>
